@use "../../utils/" as *;
.tphero {
  &-area {
    padding-top: 240px;
    padding-bottom: 450px;
  }
  &-img {
    &-round {
      top: 57%;
      left: -9%;
      transform: translateY(-50%);
      
    }
  }
}

