@use "../../utils/" as *;
.tptestimonial {
  &-designation {
    border-radius: 8px;
    border: 6px solid rgba(255, 211, 144, 0.62);
    background: #ffcb7c;
    padding: 5px;
    bottom: 20px;
    right: 23px;
    width: 240px;
    height: 100px;
  }
  &-shape {
    border-radius: 0 24px 24px 0;
     @media #{$lg} {
      height: 100%;
    }
  }
  &-wrapper {
    padding-top: 130px;
    padding-bottom: 120px;
  }
  &-pra{
      @media #{$lg} {
      font-size: 16px;
    }
  }
}

.swiper.tptestimonial-slider-active.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
  margin-right: 10px;
  margin-top: -25px;
}
