@use "../utils/" as *;
.tpbtn {
  &-secondary {
    background-color: #2f2105;
    font-size: 12px;
    font-weight: 700;
    color: #f4ae26;
    padding: 10px 24px;
    border-radius: 33px;
  }
  &-order {
    background-color: #2f2105;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 8px 32px;
    border-radius: 33px;
  }
  &-hero{
    background-color: #2f2105;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 13px 30px;
    border-radius: 33px;
  }
}
