@use "../utils/" as *;

.w-img {
  & img {
    width: 100%;
  }
}
.m-img {
  & img {
    max-width: 100%;
  }
}
img {
  max-width: 100%;
}

.fix {
  overflow: hidden;
}
.clear {
  clear: both;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}
.z-index-2 {
  z-index: 2;
  position: relative;
}
.z-index-3 {
  z-index: 3;
  position: relative;
}

.z-index-11 {
  z-index: 11;
  position: relative;
}
.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}
.overflow-x-visible {
  overflow-x: visible;
  overflow-y: hidden;
}

.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}

// tpheading
.tpheading {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  letter-spacing: 1.28px;
  line-height: 1;
  & span {
    border-bottom: 4px solid #ff902b;
  }
}

//bacground
.bg {
  &-gray {
    background-color: rgba(0, 0, 0, 0.16);
  }
  &-white {
    background-color: white;
  }
}
// border radious
.br {
  &-8 {
    border-radius: 8px;
  }
  &-12 {
    border-radius: 12px;
  }
  &-27 {
    border-radius: 27px;
  }
  &-50 {
    border-radius: 50px;
  }
}

.fns {
  &-12 {
    font-size: 12px;
  }
  &-14 {
    font-size: 14px;
  }
  &-18 {
    font-size: 18px;
  }
  &-24 {
    font-size: 24px;
  }
  &-48 {
    font-size: 48px;
  }
}

//font weight
.fnw {
  &-400 {
    font-weight: 400;
  }
  &-700 {
    font-weight: 700;
  }
  &-600 {
    font-weight: 600;
  }
}

//color
.color {
  &-white {
    color: white;
  }
  &-black {
    color: #000;
    &-1 {
      color: var(--tp-secondary-color);
    }
  }
  &-gray {
    color: var(--tp-pra-color);
  }
  &-yellow {
    color: var(--tp-primary-color);
    &-1 {
      color: #ffd28f;
    }
  }
  &-coffe {
    color: var(--tp-secondary-color);
  }
}

//letter spacing
.lts {
  &-56 {
    letter-spacing: 0.56px;
  }
  &-64 {
    letter-spacing: 0.64px;
  }
  &-72 {
    letter-spacing: 0.72px;
  }
  &-96 {
    letter-spacing: 0.96px;
  }
}

//border
.bdr {
  &-2 {
    border: 2px solid #ffd28f;
  }
}
